/* body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  background: #ccc;
  width: 33%;
  padding: 20px;
  margin: 5px;
} */

.logo {
  height: 40vh;
  width: auto;
  position: absolute;
  top: -90px;
  /* margin-left: 1.5vw; */
}
#google-auth {
  display: flex;
  justify-content: center;
  height: 10vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
.headerTotal {
  display: flex;
  align-items: center;
  height: 170px;
}
.headerList {
  list-style: none;
  position: absolute;
  top: 180px;
  color: rgb(72, 95, 72);
  /* border-left: black dotted .5px;
    border-right: black dotted .5px; */
  margin-top: 10%;
  margin-left: 5%;
  padding-right: 3%;
  display: none;
}
.headerList li {
  margin-bottom: 8vh;
}
.homeIntro {
  margin-top: -5vh;
}
.headerTotal a.icon {
  display: block;
  position: absolute;
}

.title1 {
  position: absolute;
  right: 100px;
  font-size: 34px;
  font-weight: 100;
  margin-top: -3%;
  color: rgb(72, 95, 72);
  font-family: "Baskervville", serif;
}
.title2 {
  position: absolute;
  right: 80px;
  font-size: 25px;
  font-weight: 600;
  margin-top: -3%;
  color: rgb(114, 141, 114);
  font-family: "Baskervville", serif;
}
.homeIntro {
  /* margin-left: 25vw; */
  text-align: center;
  color: rgb(77, 92, 77);
  font-family: "Baskervville", serif;
}
#homeIT1 {
  font-size: 34px;
}
#homeIT2 {
  padding-left: 140px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
.bigTreeClass {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.bigTreeImg {
  height: 70vh;
  width: auto;
  /* margin-left: 10vw; */
}
.logo {
  transition: all 1s;
  width: 200px;
  height: 200px;
}
.logo#fluffycat {
  width: 600px;
  height: auto;
}
.bodyText {
  margin-top: 30px;
  margin-left: 20vw;
  text-align: center;
  /* text-align: center; */
  width: 60vw;
}
.hamburgerMenu {
  background: black;
}
.hamburgerMenu li {
  list-style-type: none;
}
.bodyText h5 {
  font-family: "Baskervville", serif;
  color: rgb(77, 92, 77);
}
.bodyText h6 {
  font-family: "Baskervville", serif;
  color: rgb(77, 92, 77);
}
.bodyText p {
  color: rgb(77, 92, 77);
  font-family: "Open Sans", sans-serif;
}
.bodyTextP1 {
  font-size: 14px;
}
.bodyTextP2 {
  font-size: 14px;
}
footer {
  margin-top: 100px;
}
footer p {
  margin-top: -5px;
  color: rgb(77, 92, 77);
  text-align: center;
}
body {
  font-family: "Open Sans", sans-serif;
}
.vanillaForm {
  display: flex;
  flex-direction: column;
}
#addGoalButton {
  width: 25vw;
  border-radius: 2%;
  border: black solid 1px;
}
