/* body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  background: #ccc;
  width: 33%;
  padding: 20px;
  margin: 5px;
} */

.logo {
  height: 40vh;
  width: auto;
  display: flex;
  align-items: center;
  margin-top: 20%;
  top: -90px;
  margin-left: 1.5vw;
}
#google-auth {
  display: flex;
  justify-content: center;
  height: 12vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
.headerTotal {
  display: flex;
  align-items: center;
  height: 170px;
}
.headerList {
  list-style: none;
  position: absolute;
  top: 180px;
  color: rgb(72, 95, 72);
  /* border-left: black dotted .5px;
    border-right: black dotted .5px; */
  margin-top: 10%;
  margin-left: 5%;
  padding-right: 3%;
  display: none;
}
.headerList li {
  margin-bottom: 8vh;
}
.homeIntro {
  margin-top: -5vh;
}
.headerTotal a.icon {
  display: block;
  position: absolute;
}

.title1 {
  position: absolute;
  right: 100px;
  font-size: 34px;
  font-weight: 100;
  margin-top: -3%;
  color: rgb(72, 95, 72);
  font-family: "Baskervville", serif;
}
.title2 {
  position: absolute;
  right: 80px;
  font-size: 25px;
  font-weight: 600;
  margin-top: -3%;
  color: rgb(114, 141, 114);
  font-family: "Baskervville", serif;
}
.homeIntro {
  /* margin-left: 25vw; */
  text-align: center;
  color: rgb(77, 92, 77);
  font-family: "Baskervville", serif;
}
#homeIT1 {
  font-size: 34px;
}
#homeIT2 {
  padding-left: 140px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
.bigTreeClass {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.bigTreeImg {
  height: 70vh;
  width: auto;
  /* margin-left: 10vw; */
}

.bodyText {
  margin-top: 30px;
  margin-left: 20vw;
  text-align: center;
  /* text-align: center; */
  width: 60vw;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
#clickedlogo {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  margin-top: 400px;
}
.hamburgerMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: RGB(154, 189, 121);
  animation: fadeIn ease 10s;
  padding-top: 10px;
  opacity: 0.8;
  transform: rotate(1deg);
  top: -30px;
  height: 70vh;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hamburgerMenu li {
  list-style-type: none;
  padding: 20px;
}
.bodyText h5 {
  font-family: "Baskervville", serif;
  color: rgb(77, 92, 77);
}
.bodyText h6 {
  font-family: "Baskervville", serif;
  color: rgb(77, 92, 77);
}
.bodyText p {
  color: rgb(77, 92, 77);
  font-family: "Open Sans", sans-serif;
}
.bodyTextP1 {
  font-size: 14px;
}
.bodyTextP2 {
  font-size: 14px;
}
footer {
  margin-top: 100px;
}
footer p {
  margin-top: -5px;
  color: rgb(77, 92, 77);
  text-align: center;
}
body {
  font-family: "Open Sans", sans-serif;
}
.vanillaForm {
  display: flex;
  flex-direction: column;
  margin-top: -10vh;
}
.vanillaForm label {
  font-family: "Open Sans", sans-serif;
}
.vanillaForm select {
  font-family: "Open Sans", sans-serif;
  border-color: darkseagreen;
}
.vanillaForm input {
  border-color: darkseagreen;
}
.vanillaForm button {
  font-family: "Open Sans", sans-serif;
  color: rgb(77, 92, 77);
  background-color: darkseagreen;
}
#addGoalButton {
  width: 25vw;
  border-radius: 2%;
  border: black solid 1px;
}
.eachGoalName {
  color: rgb(77, 92, 77);
  list-style: none;
  text-align: center;
}
.eachGoalDes {
  color: rgb(114, 141, 114);
  text-align: center;
}
.goalsintro {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.goalsHere {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.goalsBio {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  width: 70vw;
  margin-left: 15vw;
}
