/* LOGO STYLING */
.logo2 {
  height: 40vh;
  width: auto;
  margin-left: 1.5vw;
}
.logo3 {
  height: 40vh;
  width: auto;
  margin-left: 1 vw;
}
.goalIntro {
  display: flex;
  align-items: center;
}
#logobox {
  width: 10%;
  height: auto;
}
#logobox2 {
  width: 5%;
  height: auto;
}
.logo {
  height: 40vh;
  width: auto;
  display: flex;
  align-items: center;
  /* margin-top: 20%; */
  top: -90px;
  margin-left: 1.5vw;
}
/* GOOGLE AUTH STYLES */
#google-auth {
  display: flex;
  justify-content: center;
  height: 10vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

/* HEADER STYLES */
.headerTotal {
  display: flex;
  align-items: center;
  /* height: 100px; */
}

.homeIntro {
  margin-top: -5vh;
}
.headerTotal a.icon {
  display: block;
  position: absolute;
}

.title1 {
  position: absolute;
  right: 100px;
  font-size: 34px;
  font-weight: 100;
  margin-top: -20%;
  color: rgb(72, 95, 72);
  font-family: "Baskervville", serif;
}
.title2 {
  position: absolute;
  right: 80px;
  font-size: 25px;
  font-weight: 600;
  margin-top: -20%;
  color: rgb(114, 141, 114);
  font-family: "Baskervville", serif;
}
.homeIntro {
  /* margin-left: 25vw; */
  text-align: center;
  color: rgb(77, 92, 77);
  font-family: "Baskervville", serif;
  margin-top: -50px;
}
#homeIT1 {
  font-size: 34px;
}
#homeIT2 {
  padding-left: 140px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

/* BIG TREE STYLES */
.bigTreeClass {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.bigTreeImg {
  height: 70vh;
  width: auto;
  /* margin-left: 10vw; */
}


/* BODY STYLES */
.bodyText {
  margin-top: 30px;
  margin-left: 20vw;
  text-align: center;
  /* text-align: center; */
  width: 60vw;
}
.bodyText h5 {
  font-family: "Baskervville", serif;
  color: rgb(77, 92, 77);
  /* color: #ffd24d; */
  /* background: -webkit-linear-gradient( gainsboro, lightyellow) */
 
}
.bodyText h6 {
  font-family: "Baskervville", serif;
  color: rgb(77, 92, 77);
}
.bodyText p {
  color: rgb(77, 92, 77);
  font-family: "Open Sans", sans-serif;
}
.bodyTextP1 {
  font-size: 14px;
}
.bodyTextP2 {
  font-size: 14px;
}
footer {
  margin-top: 100px;
}
footer p {
  margin-top: -5px;
  color: rgb(77, 92, 77);
  text-align: center;
}
body {
  font-family: "Open Sans", sans-serif;
}


/* MENU STYLES */
.x {
  float: right;
  margin-top: 5%;
  margin-right: 10%;
  height: 3vh;
  width: 1vw;
}
.x:hover {
  color: white;
}
.hamburgerMenu {
  width: 25vw;
  height: 100vh;
  padding-top: 3%;
  background-color: #afd18e;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  transform: translate3d(-100vw, 0, 0);
}
#clickedmenu {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hamburgerMenu li {
  list-style-type: none;
  padding: 20px;
  color: black;
  list-style-type: none;
}
.hamburgerMenu li:hover {
  list-style-type: none;
  padding: 20px;
  color: white;
}

/* FORM STYLES */
.vanillaForm {
  display: flex;
  flex-direction: column;
  margin-top: -10vh;
}
.vanillaForm label {
  font-family: "Open Sans", sans-serif;
}
.vanillaForm select {
  font-family: "Open Sans", sans-serif;
  border-color: darkseagreen;
}
.vanillaForm input {
  border-color: darkseagreen;
}
.vanillaForm button {
  font-family: "Open Sans", sans-serif;
  color: rgb(77, 92, 77);
  background-color: darkseagreen;
}
#addGoalButton {
  width: 25vw;
  border-radius: 2%;
  border: black solid 1px;
}


/* ADD A GOAL STYLES */
.addAGoalDiv{
  margin-top: -50px;
}


/* GOAL DETAILS STYLES */
.eachGoalName {
  color: rgb(77, 92, 77);
  list-style: none;
  text-align: center;
}
.eachGoalDes {
  color: rgb(114, 141, 114);
  text-align: center;
}
.goalsintro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.goalsHere {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
/* .goalsBio {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  width: 70vw;
  border: 3px solid red;
} */


#introbox {
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* border: 3px solid black; */
}
#introbox2 {
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  /* border: 3px solid black; */
}
.goalPageText {
  font-family: "Open Sans", sans-serif;
  color: rgb(77, 92, 77);
  font-weight: 800;
}
.taskArticle{
  display: flex;
  list-style: none;
} 
